.ad-div {
  margin-top: 0.5rem;
  padding: 0;
  background-color: inherit;
}
.ad-div .ant-list-item {
  border-radius: 0.3rem;
  overflow: hidden;
  padding: .3rem 0;
}
.ad-div img{
    width: 100%;
}
